@using MatrizTranspuesta.Models 
<div class="Steps-Info">
    <h2>@Tittle.NameInfoResult</h2>
    @if (ViewBag.Success)
    {
        <textarea cols="40" rows="20">
            @Model
        </textarea>
        }
</div>
